.file-gambar{
  display: inline-block;
  height: 104px;
  overflow: hidden;
  padding: 0;
  position: relative;
  vertical-align: top;
  width: 104px;
}

.media-gambar {
  width: 100%;
  height: 100%;
}

.media-gambar img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.file-media{
  list-style: none;
  padding: 0;
  margin: 0;
}

.file-upload {
  border: 2px solid #007bff;
  box-sizing: border-box;
  display: inline-block;
  height: 104px;
  vertical-align: top;
  margin: 0 6px 6px 0;
  width: 104px;
}

.file-button {
  position: relative;
  align-items: center;
  cursor: pointer;
  color: #007bff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
  line-height: 1.15;
}

.file-button span{
  height: 40px;
  width: 40px;
  display: inline-flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.file-title{
  color: #007bff;
  font-size: 14px;
  text-transform: capitalize;
  text-align: center;
}

.file-image{
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
}